@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: hwb(220 94% 4%);
  --secondary-color: #9071a0;
  --line-height: 1.7rem;
  --transition: 0.2s ease-in;
}

html, body {
    height: 100%;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

nav {
    background: rgb(106, 105, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #504f4f;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }

  #nav-active {
    background-color: blue;
  }

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

 body {
  font-family: "Roboto", sans-serf;
  background-color: black;
  color: white;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
} 

main {
    background-color: rgba(128, 128, 128, 0.432);
    height: fit-content;
    margin: 5%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

/*  */

#profile-name {
  /* border: 1px blue solid; */
  font-size: 44px;
  align-self: flex-start;
}



#edit-profile {
  display: none;
}

#settings {
  display: none;
}
